<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TTCarousel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02CF85D81CCBD35900504215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02CF85F11CCBD35900504215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02CF85FC1CCBD35900504215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
